.container{
  padding: 30px;
  position: relative;
}
.select-block-wrapper{
  position: relative;
  padding-bottom: 1.25em;
  border: 1px solid rgba(0,0,0,.03);
  box-shadow: 0 2px 2px rgba(0,0,0,.24), 0 0 2px rgba(0,0,0,.12);
  /* test */
  width: 15%;
  padding: 25px;
  margin: 0 auto;
  background-color: #fafafa;
}
.select-label{
  position: absolute;
  left: 0;
  box-sizing: content-box;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  top: 0px;
  font-size: 12px;
}
.select-block{
  display: inline-flex;
  align-items: baseline;
  cursor: pointer;
  position: relative;
}
.select{
  font-family: Roboto,Helvetica Neue,sans-serif;
  color: rgba(0,0,0,.87);
  padding: 5px 0;
  margin-top: 15px;
}
.select-arrow-wrapper{
  display: table-cell;
  vertical-align: middle;
}
.select-arrow{
  width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid;
    margin: 0 4px;
    color: rgba(0,0,0,.54);
}
.select-value{
  display: table-cell;
  max-width: 0;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.select-bottom-underline{
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: rgba(0,0,0,.42);
  bottom: -5px;
}
.select-bottom-underline-opened{
  background-color: #3f51b5;
  position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    transform-origin: 50%;
    transform: scaleX(.5);
    visibility: hidden;
    opacity: 0;
    transition: background-color .3s cubic-bezier(.55,0,.55,.2);
}
.focused .select-bottom-underline-opened{
  visibility: visible;
  opacity: 1;
  transform: scaleX(1);
  transition: transform .3s 
    cubic-bezier(.25,.8,.25,1),opacity .1s 
    cubic-bezier(.25,.8,.25,1),background-color .3s 
    cubic-bezier(.25,.8,.25,1);
}
.overlay-container-backdrop{
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-tap-highlight-color: transparent;
  transition: opacity .4s cubic-bezier(.25,.8,.25,1);
  opacity: 0;
  background: none;
  position: absolute;
}
.wrapper-options{
  position: absolute;
  pointer-events: auto;
  z-index: 1000;
  width: 100%;
}

.wrapper-options .outerDiv{
  width: 100%;
  opacity: 1;
  box-shadow: 0 5px 5px -3px rgba(0,0,0,.2),
              0 8px 10px 1px rgba(0,0,0,.14),
              0 3px 14px 2px rgba(0,0,0,.12);
}
.wrapper-options .outerDiv .option{
  color: rgba(0,0,0,.87);
  white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    line-height: 48px;
    height: 48px;
    padding: 0 16px;
    text-align: left;
    text-decoration: none;
    position: relative;
    cursor: pointer;
    outline: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    max-width: 100%;
    box-sizing: border-box;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.outerDiv {
  background-color: white;
}

.option:hover{
  background: rgba(0,0,0,.04);
}

.option.active{
  background: rgba(0,0,0,.12);
  color: #3f51b5;
}